.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer {
    margin-top: auto;
}

#searchbar {
    padding-top: 2rem;
}

input {
    width: 100%;
}

.result_div {
    border: 2px solid var(--border);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
}

.icons {
    width: 1rem;
}